extends layout

include mixins/_projectCard

block content
    h1= title
    if user
        p hi #{user.name}
    p Welcome to #{title}
        .projects
            each project in projects
                +projectCard(project)

