extends layout

include mixins/_projectCard

block content
    h1.page-title= title
    if user
        p hi #{user.name}
    .projects
        each project in projects
            +projectCard(project)

