@font-face {
  font-family: din-round;
  src: url("../fonts/ff-din-round-pro-regular-59f614d1d99c1.otf") format("opentype"); }

body, html, main {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "din-round";
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #333333;
  background-color: #f9f4e8;
  overflow-y: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; }
  main nav {
    background: #333333;
    flex: 0 0 300px;
    display: inherit;
    transition: all .5s;
    flex-direction: column;
    color: #f9f4e8; }
    main nav a {
      color: #f9f4e8; }
    main nav a:hover {
      text-decoration: none; }
    main nav h1 {
      text-align: center; }
    main nav .nav-items {
      height: 100%;
      display: inherit;
      flex-direction: column;
      justify-content: center; }
      main nav .nav-items ul {
        list-style: none;
        padding: 1rem;
        margin: 0; }
        main nav .nav-items ul li {
          padding: 1rem 0;
          overflow: hidden;
          font-size: 1.2rem;
          text-align: center; }
        main nav .nav-items ul li:hover {
          background: #424242;
          transition: background 2s; }
    main nav .social {
      display: inherit;
      width: 100%;
      font-size: 2rem; }
      main nav .social ul {
        list-style: none;
        padding: 1rem;
        margin: 0;
        width: 100%;
        text-align: center; }
        main nav .social ul li {
          padding: .3rem 0;
          overflow: hidden;
          text-align: center;
          display: inline-block;
          width: 50%; }
  main .content {
    overflow: auto;
    width: 100%;
    padding: 10%; }

.page-title {
  text-align: center; }

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem; }

.blog-preview {
  border: 1px solid #333333;
  height: 300px;
  padding: 0;
  overflow-y: hidden;
  position: relative; }

.blog-preview-link:hover {
  text-decoration: none; }

.blog-preview-top {
  background: #f9f4e8;
  color: #333333;
  font-size: 2rem;
  padding: 10px 30px 0 30px;
  height: 35%; }

.blog-preview-date {
  font-size: 1rem;
  font-style: italic; }

.blog-preview-bottom {
  background: #333333;
  color: #f9f4e8;
  padding: 10px 30px 0 30px;
  font-size: 1rem;
  height: 65%;
  word-break: break-all; }

.blog-preview-bottom:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333333 90%);
  width: 100%;
  height: 4em; }

.projects {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem; }

.project-preview {
  border: 1px solid #333333;
  height: 300px;
  padding: 0;
  overflow-y: hidden;
  position: relative; }

.project-preview-top {
  height: 50%;
  background-size: cover;
  transition: filter .7s ease-in-out;
  filter: grayscale(100%);
  /* FF 35+ */ }

.project-preview-bottom {
  background: #333333;
  color: #f9f4e8;
  height: 50%; }
  .project-preview-bottom h2 {
    margin: 0; }

.project-preview-link:hover {
  text-decoration: none; }

#Pulp .project-preview-top {
  background-image: url(../images/pulp.jpg); }

#Poetwee .project-preview-top {
  background-image: url(../images/poetwee-logo.png); }

.project-preview:hover .project-preview-top {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */ }

.mobile-nav-button {
  display: none; }

@media (max-width: 700px) {
  .mobile-nav-button {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    background: #333333;
    color: #f9f4e8;
    width: 100%;
    height: 4em;
    padding-top: 6px; }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f9f4e8;
    margin: 6px auto;
    transition: 0.4s;
    border-radius: 2px; }
  .nav {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 0;
    background: #333333;
    color: #f9f4e8;
    width: 100%;
    height: 0; }
    .nav h1 {
      display: none; }
    .nav .nav-list {
      display: none; }
  .deployed {
    height: calc(100% - 50px); }
    .deployed .nav-list {
      display: block; } }

/*# sourceMappingURL=style.css.map */