mixin blogPreview(blog = {})
	a(href=`/blog/${blog.slug}`, class='blog-preview-link')
		.blog-preview
			.blog-preview-top #{blog.title} 
				.blog-preview-date #{blog.created}
			.blog-preview-bottom #{blog.excerpt}