mixin loginForm()
	form(action=`/login/` method='POST')
		label(for='email') email
		input(type='email' name='email')

		label(for='password') password
		input(type='password' name='password')

		input(type='submit' value='Login' class='button')